* {
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

body {
    margin: 0;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    cursor: crosshair;
}

input[type=color] {
    background: transparent;
    border: 0;
}

#previewLayer {
    opacity: .5;
}

#mainLayer {
    background-image: url(../assets/grid.svg);
}

.layers {
    position: relative;
    margin: 3rem calc(50% - 256px);
}

.menu {
    background: #242424;
    display: flex;
}

.menu__item {
    display: block;
    background: #ececec;
    padding: .5rem 1rem;
    cursor: pointer;
}