* {
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

body {
    margin: 0;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    cursor: crosshair;
}

input[type=color] {
    background: transparent;
    border: 0;
}

#previewLayer {
    opacity: .5;
}

#mainLayer {
    background-image: url(../assets/grid.svg);
}

.layers {
    position: relative;
    margin: 3rem calc(50% - 256px);
}

.menu {
    background: #242424;
    display: flex;
    margin: 0 -1px;
    width: 100vw;
    color: #fff;
    box-shadow: 0 0 8px #2d2d2d;
}

.menu__item {
    color: #000;
    text-decoration: none;
    display: block;
    background: #efefef;
    padding: .5rem 1rem;
    margin: 0 1px;
    transition: .3s background-color, color;
    cursor: pointer;
}

.menu__item:hover {
    background: #535353;
    color: #fff;
}